  <div class="card" style="margin: auto;">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <img src="img/contact-image.jpg" alt="Marion et Ivan cous accueillent" style="border-radius: 200px;" />
          </div>
          <div class="col-xs-12 col-md-9">
            <h5>Adresse</h5>
            <p>11 Rue Saint-Léonard,</p>
            <p>44000 Nantes</p>
            <h5>Contact</h5>
            <p>Téléphone: 02 51 17 70 53</p>
            <p>Email: commercial@choc-hola.com</p>
            <h5>Heures d'ouverture</h5>
            <p>Mardi-Vendredi: 10h - 13h / 14h - 19h</p>
            <p>Samedi: 10h - 19h</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <iframe class="ql-video" frameborder="0" allowfullscreen="true" src="https://www.openstreetmap.org/export/embed.html?bbox=-1.5569713711738589%2C47.21638545212515%2C-1.5542086958885193%2C47.21757692255889&amp;layer=hot&amp;marker=47.216981190688564%2C-1.555590033531189" style="width: 100%; height: 400px;" />
